@font-face {
  font-family: 'Cambay';
  src: url('fonts/Cambay-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Cambay';
  src: url('fonts/Cambay-Bold.woff2') format('woff2');
  font-weight: bold;
}

body{
  background: linear-gradient(127.76deg, #FBC2EB 10.29%, rgba(251, 194, 235, 0) 86%), #A18CD1;
  min-height: 100vh;
  font-family: 'Cambay';
  margin: 0%;
}

.indexTitle{
  position: absolute;
  top: 40vh;
  left: 10vw;
  width: 850px;
  font-size: 48px;
  font-weight: 700;
}

.aboutMeTitle{
  position: absolute;
  width: 850px;
  right: 10vh;
  top: 20vh;
  font-size: 48px;
  font-weight: 700;
}

.contactTitle{
  position: absolute;
  width: 850px;
  left: 10vw;
  top: 30vh;
  font-size: 48px;
  font-weight: 700;
}

p{
  position: absolute;
  width: 850px;
  right: 10vh;
  top: 30vh;
  font-size: 24px;
  font-weight: 400;
}

.memoji{
  position: absolute;
  top: 30vh;
  right: 10vh;
  animation-delay: 0.4s;
}

.memojiAboutMe{
  position: absolute;
  top: 30vh;
  left: 10vh;
}

.memojiContact{
  position: absolute;
  top: 20vh;
  right: 10vh;
}

.circle{
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 396px;
  height: 396px;
  background: #545454;
  box-shadow: 11px 12px 21px 3px rgba(0, 0, 0, 0.25);
}

.memojiImage{
  background-image: url(./images/peace.PNG);
  position: absolute;
  top: -16px;
  left: 20px;
  width: 380px;
  height: 380px;
}

.memojiImageAboutMe{
  background-image: url(./images/smile.PNG);
  position: absolute;
  top: 0;
  left: -16px;
  width: 380px;
  height: 380px;
}

.memojiImageContact{
  background-image: url(./images/wink.PNG);
  position: absolute;
  top: -16px;
  right: 46px;
  width: 380px;
  height: 380px;
}

.socialsList{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 70px;
  position: absolute;
  left: 13vw;
  top: 451px;
}

.instagram{
  background: url(./images/instagram-fill.png);
  width: 90px;
  height: 90px;
  background-size: 90px 90px;
}

.linkedin{
  background: url(./images/linkedin-fill.png);
  width: 90px;
  height: 90px;
  background-size: 90px 90px;
}

.github{
  background: url(./images/github-fill.png) no-repeat;
  width: 90px;
  height: 90px;
  background-size: 90px 90px;
}
